<template>
    <div id="list-users">
        <h1>User List</h1>
        <table class="table table-dark table-borderless">
            <thead>
            <tr>
                <td>Name</td>
                <td>Address</td>
                <td> </td>
            </tr>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.address }}</td>
                    <td>
                        <router-link :to="{name: 'edit-user', params: { id: user.id }}" class="btn btn-outline-primary">Edit</router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                users: []
            }
        },
        created: function()
        {
            this.fetchProductData();
        },
        methods: {
            fetchProductData: function()
            {
                this.$http.get('http://localhost:3000/api/users').then((response) => {
                    this.users = response.body;
                });
            }
        }
    }
</script>
