<template>
    <div class="container">
        <div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return{

            }
        }
    }
</script>
